<h1 id="header-abilities">My Skills <br><small>What I know and how well do i know it.</small></h1>

<div class="hr"></div>

<div class="abilities-item-list-wrap container">
	<div class="abilities-item-list"></div>
</div>