<h1 id="header-contact">Contact <br><small>Have an idea, job offer, question or suggestion please feel free to contact me.</small></h2>


<div class="hr"></div>

<div class="contact-links-wrap">

<div class="row"> 
	<div class="contact-info"  data-scroll-reveal="enter left 100px, after 0.3s">
		<div class="contact-icon linkedin"></div>
		<div class="contact-link linkedin"><a href="http://lnkd.in/b6Z6FMZ" target="_blank">lnkd.in/b6Z6FMZ</a></div>
	</div>

	<div class="contact-info"  data-scroll-reveal="enter right 100px, after 0.3s">
		<div class="contact-icon gmail"></div>
		<div class="contact-link gmail">moc.liamg@alokin.navoderp</div>
	</div>
</div>	

<div class="row"> 
	<div class="contact-info"  data-scroll-reveal="enter left 100px, after 0.3s">
		<div class="contact-icon skype"></div>
		<div class="contact-link skype">nikola.predovan</div>
	</div>

	<div class="contact-info"  data-scroll-reveal="enter right 100px, after 0.3s">
		<div class="contact-icon facebook"></div>
		<div class="contact-link facebook"><a href="http://facebook.com/predovan" target="_blank" >facebook.com/predovan</a></div>
	</div>
</div>

<div class="row"> 
	<div class="contact-info"  data-scroll-reveal="enter left 100px, after 0.3s">
		<div class="contact-icon github"><img src ="../images/github-512.png" /></div>
		<div class="contact-link github">github.com/Predjo</div>
	</div>
</div>	

</div>

<div class="hr"></div>