<h1 id="header-education">Education <br><small>Where I got my skills.</small></h2>

<div class="hr"></div>

<div class="education-item-list-wrap container-fluid">
	<div class="education-item-list"></div>
</div>