<div id="layout-wrap" data-spy="scroll">
	<nav id="navigation-section" class="navbar-default navbar-fixed-top" role="navigation"></nav>
		<section id="header-section"></section>
		<div id="main-content-wrap">
			<section id="profile-section" class="container-fluid"></section>
			<section id="education-section" class="container-fluid"></section>
			<section id="career-section" class="container-fluid"></section>
			<section id="abilities-section" class="container-fluid"></section>
			<section id="interests-section" class="container-fluid"></section>
			<section id="contacts-section" ></section>
		</div>
</div>
