<form role="form">

  <div class="form-group">
    <label for="madrill-form-name">Name</label>
    <input type="text" class="form-control" id="madrill-form-name" placeholder="Your name">
  </div>
  
  <div class="form-group">
    <label for="madrill-form-email">Email address</label>
    <input type="email" class="form-control" id="madrill-form-email" placeholder="Your email">
  </div>

   <div class="form-group">
    <label for="madrill-form-text">Message</label>
    <textarea class="form-control" rows="5" id="madrill-form-text" placeholder="Your message"></textarea>
  </div>
  

  <button type="submit" class="btn btn-default mandrill-submit-btn">Submit</button>
  <button  class="btn btn-default mandrill-cancel-btn">Cancel</button>
  <img class="mandrill-loader" src="../images/loading.gif">
  <div class="mandrill-message"></div>
</form>