<div class="container-fluid navigation-wrap">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-wrap">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo_small.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navigation-items-wrap" id="navbar-wrap">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a id="navigation-header" data-navigation="header" href="#header-section" >Cover</a></li>
        <li><a id="navigation-profile" data-navigation="profile" href="#profile-section" >About me</a></li>
        <li><a id="navigation-education" data-navigation="education" href="#education-section" >Education</a></li>
        <li><a id="navigation-career" data-navigation="career" href="#career-section" >Career</a></li>
        <li><a id="navigation-abilities" data-navigation="abilities" href="#abilities-section" >My Skills</a></li>
        <li><a id="navigation-interests" data-navigation="interests" href="#interests-section ">Interests</a></li>
        <li><a id="navigation-contact" data-navigation="contact" href="#contacts-section" >Contact</a></li>
        <li><a id="navigation-blog" href="https://blog.predovan.com" target="_blank" >Blog</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid 

