<h1 id="header-profile" >About me<br><small>Who am I?</small></h1>

<div class="hr"></div>

<div class="profile-data-wrap container-fluid">
	<div class="row profile-row">
	 <div class="container">
			<div class="col-md-1"> </div>
			<div class="col-lg-3 col-md-3  profile-text">
			Hello and welcome to my interactive resume. Here you can find all the information on my education, career, skills and interests. There is also a paper version of the resume available for download <a href="../data/CVNikolaPredovan.pdf" target="_blank"><span class="glyphicon glyphicon-link"></span>here</a>.


			</div>
			<div class="col-lg-4 col-md-4">
				<div class="profile-pic">
					<img src="images/me.jpg">
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<h2> Nikola Predovan </h2>
				<div class="profile-age"><strong>Age:</strong> 27 </br></div>
				<div class="profile-from"><strong>From:</strong> <a href="http://www.zagreb.hr/" target="_blank"><span class="glyphicon glyphicon-link"></span> Zagreb</a> , <a href="http://croatia.hr/en-GB/Homepage" target="_blank"><span class="glyphicon glyphicon-link"></span> Croatia</a></div>
				<div class="profile-aboutme">
					And this is me. I am a developer from Croatia and I just got my Master's degree in Software Engineering. I'm currently working on improving my web development skills. Trying to master both frontend and backend. That's why I decided to build this site to show off my coding and design skills. Hope you find it interesting.
				</div>

				<div class="profile-share">
				Please
				<iframe class="likeButton" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fnikola-predovan.from.hr&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>

					<span class="shareText">or share:</span>
					<div class="hr2"></div>
					<span class='st_facebook_large' displayText='Facebook' st_url='http://nikola-predovan.from.hr' st_title='Nikola Predovan interactive resume' st_summary="Hello and welcome to my interactive resume. Here you can find all the information on my education, career, skills and interests."></span>
					<span class='st_linkedin_large' displayText='LinkedIn' st_url='http://nikola-predovan.from.hr' st_title='Nikola Predovan interactive resume' st_summary="Hello and welcome to my interactive resume. Here you can find all the information on my education, career, skills and interests."></span>
					<span class='st_googleplus_large' displayText='Google +' st_url='http://nikola-predovan.from.hr' st_title='Nikola Predovan interactive resume' st_summary="Hello and welcome to my interactive resume. Here you can find all the information on my education, career, skills and interests."></span>
					<span class='st_twitter_large' displayText='Tweet' st_url='http://nikola-predovan.from.hr' st_title='Nikola Predovan interactive resume' st_summary="Hello and welcome to my interactive resume. Here you can find all the information on my education, career, skills and interests."></span>
				</div>
			</div>
			<div class="col-lg-1 col-md-1"> </div>
		</div>
	</div>
</div>
