<h1 id="header-profile" >About me<br><small>Who am I?</small></h1>

<div class="hr"></div>

<div class="profile-data-wrap container-fluid">
	<div class="row profile-row">
	 <div class="container">
			<div class="col-md-1"> </div>
			<div class="col-lg-3 col-md-3  profile-text">
			Hello and welcome to my interactive resume. Here you can find all the information on my education, career, skills and interests.


			</div>
			<div class="col-lg-4 col-md-4">
				<div class="profile-pic">
					<img src="images/me.jpg">
				</div>
			</div>
			
			<div class="col-lg-3 col-md-3">
				<h2> Nikola Predovan </h2>
				<div class="profile-age"><strong>Age:</strong> 27 </br></div>
				<div class="profile-from"><strong>From:</strong> <a href="http://www.zagreb.hr/" target="_blank"><span class="glyphicon glyphicon-link"></span> Zagreb</a> , <a href="http://croatia.hr/en-GB/Homepage" target="_blank"><span class="glyphicon glyphicon-link"></span> Croatia</a></div>
				<div class="profile-aboutme">
					And this is me. I am a developer from Croatia and I just got my Master's degree in Software Engineering. I'm currently working on improving my web development skills. Trying to master both frontend and backend. That's why I decided to build this site to show off my coding and design skills. Hope you find it interesting.
				</div>

			</div>
			<div class="col-lg-1 col-md-1"> </div>
		</div>
	</div>
</div>
